<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.kh.onAirAuction.dao.AuctionDAO">
 		
 	<insert id="insertAuction" useGeneratedKeys="true" keyProperty="auction.ac_num">
 		insert into auction(au_num, au_ac_num, au_calculation, au_startdate, au_finaldate, au_extension, au_faild, au_immediate, au_deliveryway, au_limitbidtime, au_limitlevel)
 		select ifnull(max(au_num),0)+1, #{auction.au_ac_num}, #{auction.au_calculation}, #{auction.au_startdate}, #{auction.au_finaldate}, #{auction.au_extension}, #{auction.au_faild}, 
 				#{auction.au_immediate}, #{auction.au_deliveryway}, #{auction.au_limitbidtime}, #{auction.au_limitlevel}
 		from auction
 	</insert>
 	<select id="selectAuctionList" resultType="kr.kh.onAirAuction.vo.AuctionVO">
  		SELECT ac_name, au_num, au_startdate, au_finaldate, au_calculation, au_immediate, au_deliveryway,
		    COALESCE(CASE WHEN au_limitbidtime = 0 THEN 'X'
		                  WHEN au_limitbidtime = 1 THEN '15초'
		                  WHEN au_limitbidtime = 2 THEN '30초'
		                  WHEN au_limitbidtime = 3 THEN '60초'
		                  ELSE 'X'
		             END, '해당없음') AS au_limitbidtime,
		    COALESCE(CASE WHEN au_limitlevel = 0 THEN 'X'
		                  WHEN au_limitlevel = 1 THEN '브론즈'
		                  WHEN au_limitlevel = 2 THEN '실버'
		                  WHEN au_limitlevel = 3 THEN '골드'
		                  WHEN au_limitlevel = 4 THEN 'VIP'
		                  ELSE 'X'
		             END, 'X') AS au_limitlevel
		FROM auction JOIN auction_category ON au_ac_num = ac_num
		WHERE au_ac_num = ac_num ORDER BY au_num ASC LIMIT #{cri.pageStart}, #{cri.perPageNum};
	</select>	
	<select id="selectAuctionTotalCount" resultType="int">
		select count(*) from auction 
	</select>
 </mapper>
 