<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="kr.kr.OnAirAuction.DAO.BidDAO">
	<insert id="insertImmediate">
		insert into auction_record(ar_bidprice, ar_me_id) 
			values(#{bid.ar_bidprice}, #{bid.ar_me_id})
	</insert>
	<select id="selectBidlist" resultType="kr.kr.OnAirAuction.DAO.BidDAO">
		select * from auction_record
			order by ar_bidprice desc
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
  	<select id="selectBidlistTotalCount" resultType="int">
  		select count(*) from auction_record
  	</select>
</mapper>
