<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kr.OnAirAuction.DAO.MemberDAO">

<!-- 회원 가입 쿼리 -->

<insert id="insertMember">
	
	insert into member(me_id, me_pw, me_email, me_board, me_phone, me_name, me_birth, me_join_time)
	
	select #{member.me_id}, #{member.me_pw}, #{member.me_email}, concat(#{member.addr2}, #{member.addr3}), #{member.me_phone}
	
			, #{member.me_name}, #{member.me_birth}, now()

</insert>

<!-- 이메일 인증 쿼리 -->

<insert id="insertMemberOK">

  		insert into member_ok(mo_me_id, mo_num, mo_valid_time) values(#{mok.mo_me_id},#{mok.mo_num}, date_add(#{mok.mo_valid_time},interval 1 hour))
  		
</insert>

<select id="selectMemberOK" resultType="kr.kr.OnAirAuction.VO.MemberOKVO">

  		select * from member_ok where mo_me_id = #{mok.mo_me_id} and mo_num = #{mok.mo_num} and mo_valid_time >= now()
  		
</select>

<delete id="deleteMemberOK">

  		delete from member_ok where mo_me_id = #{mok.mo_me_id} and mo_num = #{mok.mo_num}
  		
</delete>

<update id="updateCertification">

  		update member set me_certification = #{me_certification} where me_id = #{me_id}
  		
</update>

<!-- 로그인 쿼리 -->

<select id="selectMemberById" resultType="kr.kr.OnAirAuction.VO.MemberVO">

	select * from member where me_id = #{me_id}

</select>

</mapper>