<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.onAirAuction.dao.ProductDAO">
	<insert id="insertCategory">
		insert into product_category(pc_name) values(#{pc.pc_name})
	</insert>
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="p.pr_code">
		insert into product(pr_code, pr_name, pr_intro, pr_condition, pr_detail, pr_location, pr_refund_ok, 
					pr_refunddate, pr_refundreason, pr_startprice, pr_origin, pr_size)
  		select ifnull(max(pr_code),0)+1, #{p.pr_name}, #{p.pr_intro}, #{p.pr_condition}, #{p.pr_detail}, #{p.pr_location}, #{p.pr_refund_ok}, 
  					#{p.pr_refunddate}, #{p.pr_refundreason}, #{p.pr_startprice}, #{p.pr_origin}, #{p.pr_size}
  		from product
	</insert>
	<insert id="insertFile">
		insert into file(fi_name, fi_savename, fi_tablename, fi_tablenum)
  		values(#{file.fi_name}, #{file.fi_savename}, '상품', #{pr_code})
	</insert>
	<select id="selectProductList" resultType="kr.kh.onAirAuction.vo.ProductVO">
  		select * from product order by pr_code asc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>	
	<select id="selectProductTotalCount" resultType="int">
		select count(*) from product 
	</select>
	<select id="selectProduct" resultType="kr.kh.onAirAuction.vo.ProductVO">
		select * from product where pr_code = #{pr_code}
	</select>
	<select id="selectFileList" resultType="kr.kh.onAirAuction.vo.FileVO">
		select * from file where fi_tablenum = #{pr_code}
	</select>
	<delete id="deleteProduct">
		delete from product where pr_code = #{pr_code}
	</delete>
	<delete id="deleteFile">
		delete from file where fi_num = #{file.fi_num}
	</delete>
	<update id="updateProduct">
		update product 
		set pr_name = #{vo.pr_name}, pr_intro = #{vo.pr_intro}, pr_condition = #{vo.pr_condition}, pr_detail = #{vo.pr_detail}, 
			pr_location = #{vo.pr_location}, pr_refund_ok = #{vo.pr_refund_ok}, pr_refunddate = #{vo.pr_refunddate},
			pr_refundreason = #{vo.pr_refundreason}, pr_startprice = #{vo.pr_startprice}, pr_origin = #{vo.pr_origin}, pr_size = #{vo.pr_size}
		where pr_code = #{vo.pr_code}
	</update>
	<select id="selectFile" resultType="kr.kh.onAirAuction.vo.FileVO">
		select * from file where fi_num = #{fi_num}
	</select>
</mapper>

